<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Style.css"> <!--hoja de estilo-->
    <link rel="icon" href="../img/icono de pag.jfif"> <!--icono Pag.-->
    <title>Registro</title>
</head>

<body>
    <!--HEADER-->
    <header>
        <div>
            <h1>Jardinería DB</h1>
        </div>
    </header>

    <!-- NAVBAR -->
    <nav class="navbar">
          <a href="../../index.html">INICIO</a>
          <a href="1- Huerto.html">HUERTO </a>
          <a href="2- Tecnicas y cuidados.html">TECNICAS Y CUIDADOS</a>
          <a href="formulario.html">REGISTRO Y SEGUIMIENTO</a>
    </nav>

    <!-- FORMULARIO-->
    <form>
      <fieldset>
        <legend>Formulario de registro</legend>
          <label for="nombre">Nombre</label>      
          <input type="text" name="name" id="nombre">

          <label for="Apellido">Apellido</label>
          <input type="text" name="1name" id="apellido">

          <label for="email">Email</label>
          <input type="email" name="email" id="email">

          <label for="pass">Contraseña</label>
          <input type="password" name="Contraseña" id="pass" required>

          <label for="fecha">Fecha de nacimiento</label>
          <input type="date" name="date" id="fecha" required>

          <input type="submit" value="Registrarse">
          <input type="reset" value="borrar">

      </fieldset>
    </form>

   <!-- FOOTER-->
    <footer>
        <p >&copy; Nicolas Boga, Potrero Digital 2024</p>
    </footer>

</body>
</html>

      
         <!--    
        
         MAIN 
         <p>Descubre consejos, guías educativas sobre plantas y jardinería sostenible.</p>
 <h4 class="lema2">conceta con la naturaleza, cuida tu planta</h3>

              <aside>
                <form action="#" method="POST">
                  <input type="email" placeholder="Tu correo electrónico">
                  <button type="submit">Suscribirse</button>
                </form>      -->